.c-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: var(--grid-margin);
  z-index: 200;
}
@media (max-width: 699px) {
  html.is-touch-device .c-header {
    height: 100%;
  }
  html:not(.is-touch-device) .c-header {
    height: calc(100 * var(--vh, 1vh));
  }
}
@media (min-width: 700px) {
  .c-header {
    height: calc(100 * var(--vh, 1vh));
  }
}
.c-header [data-menu-scramble-hover] [data-menu-scramble-hover-text]::after {
  content: '-';
  visibility: hidden;
}
.c-header::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
html.is-ready .c-header::before {
  transition: opacity 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
    backdrop-filter 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
html.has-menu-open .c-header::before {
  opacity: 1;
  backdrop-filter: blur(15px);
}

.c-header_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
@media (max-width: 699px) {
  .c-header_inner {
    clip-path: inset(0 round 3px);
  }
}
html.is-ready .c-header_inner {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
html.has-scrolled .c-header_inner {
  transform: translate3d(
    0,
    calc((var(--header-bar-height) + var(--grid-margin)) * -1),
    0
  );
}
html.has-scrolled.is-scrolling-up .c-header_inner,
html.has-scrolled.has-menu-open .c-header_inner,
html.has-scrolled.is-scrolling-up.has-menu-open .c-header_inner {
  transform: translate3d(0, 0, 0);
}

/* Background */
.c-header_background {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate3d(0, calc(-100% + var(--header-bar-shrink-height)), 0);
  color: #e2e3e6;
}
html.is-ready .c-header_background {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-header_background::before {
  content: '';
  width: 100%;
  flex: 1;
  background-color: currentColor;
}
.c-menu.is-ready .c-header_background {
  transform: translate3d(0, 0, 0);
}

.c-header_background_wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: inset(0 round 3px);
}
@media (min-width: 700px) {
  .c-header_background_wrapper {
    width: calc(
      0.3333333333 * (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
        (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
        var(--grid-gutter, 0px)
    );
    min-width: 326px;
  }
}

.c-header_background_bar {
  position: relative;
  display: flex;
  flex-direction: column;
  height: var(--header-bar-shrink-height);
  color: #e2e3e6;
  overflow: hidden;
}
html.is-ready .c-header_background_bar {
  transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-header_background_bar::before {
  content: '';
  width: 100%;
  flex: 1;
  background-color: currentColor;
}
.c-header_background_bar .c-icon {
  position: relative;
  top: -1px;
  clip-path: inset(0 round 0 0 3px 0);
}

/* Bar */
.c-header_bar {
  position: relative;
  height: var(--header-bar-shrink-height);
  color: #000000;
  pointer-events: auto;
  z-index: 3;
}
@media (min-width: 700px) {
  .c-header_bar {
    width: calc(
      0.3333333333 * (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
        (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
        var(--grid-gutter, 0px)
    );
    min-width: 326px;
  }
}
html.is-ready .c-header_bar {
  transition: height 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-header_bar_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--grid-gutter);
  width: 100%;
  height: 100%;
}

.c-header_bar_logo {
  padding-left: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  padding-top: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  color: #000000;
}

.c-header_bar_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  grid-column: 2 / span 2;
  padding-top: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  padding-bottom: clamp(20px, 20 / 1440 * 100vw, 20 / 1440 * 100vw);
}
.c-header_bar_content span {
  display: block;
}

.c-header_bar_burger-button {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(25% + var(--grid-gutter) / 4);
  height: calc(100% - 1px);
  color: #000000;
  border-left: 1px dashed #a7a7a7;
}
html.is-ready .c-header_bar_burger-button {
  transition: border-left 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-menu.is-ready .c-header_bar_burger-button {
  border-left: 1px dashed transparent;
}

/* Menu */
.c-header_menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 699px) {
  html.has-menu-open body {
    overflow: hidden;
  }
}
.c-image {
  position: relative;
}
.c-image.-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.c-image.-parallax {
  overflow: hidden;
}
.c-image.-border {
  clip-path: inset(0 round 4px);
}

.c-image_inner {
  display: block;
  position: relative;
}
.c-image.-cover .c-image_inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.c-image.-contain .c-image_inner {
  height: 100%;
  width: 100%;
}
.c-image.-lazy-loading .c-image_inner,
.c-image.-lazy-loaded .c-image_inner {
  background-color: var(--color-text);
}
.c-image.-lazy-loading.-no-background .c-image_inner,
.c-image.-lazy-loaded.-no-background .c-image_inner {
  background-color: transparent;
}

.c-image_img {
  width: 100%;
}
.c-image.-cover .c-image_img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.c-image.-contain .c-image_img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.c-image.-lazy-loading .c-image_img,
.c-image.-js-lazy-loading .c-image_img,
.c-image.-lazy-loading.-scroll-reveal .c-image_img,
.c-image.-lazy-loaded.-scroll-reveal .c-image_img {
  opacity: 0;
}
.c-image.-lazy-loaded .c-image_img,
.c-image.-js-lazy-loading.-lazy-loaded .c-image_img,
.c-image.-lazy-loaded.-scroll-reveal.is-inview .c-image_img {
  opacity: 1;
  transition: opacity 0.3s linear;
}
html:not(.is-mobile) .c-image.-parallax .c-image_img {
  transform: scale3d(var(--parallax-scale), var(--parallax-scale), 1);
}

.c-image_caption {
  font-family: 'SuisseIntlMono', -apple-system, BlinkMacSystemFont, avenir next,
    avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
  font-size: var(--font-size-label);
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-top: clamp(8px, 8 / 1440 * 100vw, 8 / 1440 * 100vw);
}

.c-image_expand {
  position: absolute;
  right: clamp(8px, 8 / 1440 * 100vw, 8 / 1440 * 100vw);
  bottom: clamp(8px, 8 / 1440 * 100vw, 8 / 1440 * 100vw);
}

.c-button-review .c-image_img,
.c-review .c-image_img {
  font-size: 0;
  vertical-align: top;
}

.c-burger-button_icon {
  display: inline-flex;
}
.c-burger-button_icon.-open {
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 17px);
  width: 34px;
  height: 10px;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
html.is-ready .c-burger-button_icon.-open {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s,
    opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.2s;
}
html.has-menu-open .c-burger-button_icon.-open {
  opacity: 0;
  transition: none;
}
.c-burger-button_icon.-close {
  position: absolute;
  top: calc(50% - 2.5px);
  left: calc(50% - 17px);
  width: 34px;
  height: 10px;
  opacity: 0;
  flex-direction: column;
  justify-content: space-between;
}
html.is-ready .c-burger-button_icon.-close {
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0.3s;
}
html.has-menu-open .c-burger-button_icon.-close {
  transition: none;
  opacity: 1;
}

.c-burger-button_icon_line {
  position: relative;
  display: inline-block;
  transform-origin: center center;
}
.c-burger-button_icon.-open .c-burger-button_icon_line {
  width: 100%;
  height: 1px;
  background-color: currentColor;
}
html.is-ready .c-burger-button_icon.-open .c-burger-button_icon_line {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
html.is-ready
  .c-burger-button_icon.-open
  .c-burger-button_icon_line:nth-child(1) {
  transition-delay: 0s;
}
html.is-ready
  .c-burger-button_icon.-open
  .c-burger-button_icon_line:nth-child(2) {
  transition-delay: 0.1s;
}
html.is-ready
  .c-burger-button_icon.-open
  .c-burger-button_icon_line:nth-child(3) {
  transition-delay: 0.2s;
}
.c-burger-button:hover .c-burger-button_icon.-open .c-burger-button_icon_line {
  transform: translateX(140%);
}
.c-burger-button_icon.-open .c-burger-button_icon_line::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: currentColor;
  transform: translateX(-140%);
}
.c-burger-button_icon.-close .c-burger-button_icon_line {
  width: 100%;
  height: 1px;
  background-color: currentColor;
}
html.is-ready .c-burger-button_icon.-close .c-burger-button_icon_line {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
html.is-ready
  .c-burger-button_icon.-close
  .c-burger-button_icon_line:nth-child(2) {
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
html.has-menu-open
  .c-burger-button_icon.-close
  .c-burger-button_icon_line:nth-child(1) {
  transform: translate3d(0, 5px, 0) rotate(-45deg);
}
html.has-menu-open
  .c-burger-button_icon.-close
  .c-burger-button_icon_line:nth-child(2) {
  opacity: 0;
  transition: none;
}
html.has-menu-open
  .c-burger-button_icon.-close
  .c-burger-button_icon_line:nth-child(3) {
  transform: translate3d(0, -4px, 0) rotate(45deg);
}

.c-menu {
  pointer-events: none;
}
.c-menu.is-active {
  pointer-events: auto;
}

.c-menu_element {
  --color-text: #000000;
  color: var(--color-text);
}

.c-menu_modal {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}
@media (max-width: 699px) {
  .c-menu_modal {
    width: 100%;
  }
}

.c-menu_modal.-primary {
  height: 100%;
}
@media (min-width: 700px) {
  .c-menu_modal.-primary {
    width: calc(
      0.3333333333 * (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
        (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
        var(--grid-gutter, 0px)
    );
    min-width: 326px;
  }
}

.c-menu_modal.-secondary {
  height: calc(100% - var(--header-bar-height));
  visibility: hidden;
}
html.is-ready .c-menu_modal.-secondary {
  transition: visibility 0.6s linear;
}
@media (max-width: 699px) {
  .c-menu_modal.-secondary {
    z-index: 3;
  }
}
@media (min-width: 700px) {
  .c-menu_modal.-secondary {
    width: calc(
      calc(
          0.3333333333 *
            (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
            (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
            var(--grid-gutter, 0px)
        ) * 2 + var(--grid-gutter)
    );
    min-width: calc(652px + var(--grid-gutter));
    clip-path: inset(
      0 0 0
        calc(
          clamp(
              326px + var(--grid-gutter),
              100vw,
              0.3333333333 *
                (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
                (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
                var(--grid-gutter, 0px) + var(--grid-gutter)
            ) - var(--grid-gutter)
        )
    );
    z-index: 0;
  }
  .c-menu_modal.-secondary::before {
    content: '';
    display: block;
    width: calc(
      0.3333333333 * (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
        (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
        var(--grid-gutter, 0px)
    );
    min-width: 326px;
  }
}
.c-menu_modal.-secondary.is-active {
  visibility: visible;
  transition: none;
}
@media (min-width: 700px) {
  .c-menu_modal.-secondary.is-active {
    z-index: 1;
  }
}

.c-menu_modal_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 699px) {
  .c-menu_modal_wrapper {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .c-menu_modal_wrapper {
    width: calc(
      0.3333333333 * (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
        (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
        var(--grid-gutter, 0px)
    );
    min-width: 326px;
  }
}
.c-menu_modal.-primary .c-menu_modal_wrapper {
  z-index: 2;
}
.c-menu_modal.-secondary .c-menu_modal_wrapper {
  clip-path: inset(0 round 3px);
  transform: translate3d(calc(-100% - 1px - var(--grid-gutter)), 0, 0);
}
html.is-ready .c-menu_modal.-secondary .c-menu_modal_wrapper {
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.c-menu_modal.-secondary.is-ready .c-menu_modal_wrapper {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.c-menu_modal_inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}
html.is-ready .c-menu_modal_inner {
  transition: clip-path 0.6s cubic-bezier(0.215, 0.61, 0.355, 1),
    visbility 0s cubic-bezier(0.215, 0.61, 0.355, 1) 0.6s;
}
.c-menu_modal.-primary .c-menu_modal_inner {
  clip-path: inset(0 0 100% 0 round 3px);
}
.c-menu.is-active .c-menu_modal.-primary .c-menu_modal_inner {
  visibility: visible;
}
.c-menu.is-ready .c-menu_modal.-primary .c-menu_modal_inner {
  clip-path: inset(0 round 3px);
  transition: clip-path 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/* Content */
.c-menu_modal_content {
  flex: 1;
  padding-top: 11.2048192771vh;
  overflow: auto;
}
.c-menu_modal.-secondary .c-menu_modal_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  padding-right: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  padding-bottom: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  background-color: #e2e3e6;
}

/* Header */
.c-menu_modal_header {
  position: relative;
  height: var(--header-bar-height);
  color: #000000;
}
@media (min-width: 700px) {
  .c-menu_modal_header {
    width: calc(
      0.3333333333 * (calc(100 * var(--vw, 1vw)) - 2 * var(--grid-margin, 0px)) -
        (1 - 0.3333333333) * var(--grid-gutter, 0px) + 0 *
        var(--grid-gutter, 0px)
    );
    min-width: 326px;
  }
}

.c-menu_modal_header_inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--grid-gutter);
  width: 100%;
  height: 100%;
  background-color: #e2e3e6;
}

.c-menu_modal_header_heading span {
  display: block;
}

.c-menu_modal_header_label {
  display: flex;
  justify-content: space-between;
}

.c-menu_modal_header_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  grid-column: 2 / span 2;
  padding-top: clamp(10px, 10 / 1440 * 100vw, 10 / 1440 * 100vw);
  padding-bottom: clamp(20px, 20 / 1440 * 100vw, 20 / 1440 * 100vw);
  text-transform: uppercase;
}
.c-menu_modal_header_content::before {
  content: '';
  position: absolute;
  top: 0;
  right: calc(25% + var(--grid-gutter) / 4);
  width: 2px;
  height: calc(100% - 1px);
}
.c-menu_modal_header_content span {
  display: block;
}

.c-menu_modal_header_button {
  top: 0;
  right: 0;
  width: calc(25% + var(--grid-gutter) / 4);
  height: calc(100% - 1px);
}
.c-menu_modal_header_button.c-arrow-button {
  position: absolute;
}
